body {
    background-color: #f4edff !important;   
}

.container {
    background-color: #f4edff !important;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.question_footer {
    border-top: 1px solid grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}

.quiz-card {
    width: 30rem;
}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: #663ab417;
}

.bg-success, .bg-danger {
    color: white;
}

.width-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

.end-text {
    font-size: 38px;
    margin-bottom: 32px;
}

.button-row {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}